body {
    background-color: #b2d1ff;
    margin: 0 0;
    padding: 0 0;
    overflow: hidden;
}

div {
    display: inline-block;
}

#gr-container {
    height: 70%;
    width: 25%;
    text-align: center;
    position: absolute;
    color: white;
    text-shadow: 4px 3px 0px black, 6px 5px 5px white;
    top: 12%;
    left: 37.5%;
    font-weight: 800;
    overflow: hidden;
    z-index: 4;
}

#get-ready {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 0;
    position: relative;
    
}

.number-animate {
    top: 0;
    -webkit-animation: count-down 1s infinite;
    z-index: 5;
}

@-webkit-keyframes count-down {
    0% {
        top: -100%;
        font-size: 0em;
    }
    
    40% {
        top: 0%;
        font-size: 10em;
    }
    
    60% {
        top: 0%;
        font-size: 10em;
    }
    
    100% {
        top: 12%;
        font-size: 0em;
    }
}

/*
    ==========================
    ==        Level 1       ==
    ==========================
*/

#lvl1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.gtimer {
    position: absolute;
    height: 65%;
    width: 1.8%;
    bottom: 25%;
    left: 25%;
    overflow: hidden;
    border-radius: 17px 17px 0 0;
}

.time-border {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0 0;
    border: 6px solid #3d3d5c;
    box-sizing: border-box;
    z-index: 1;
    
}

#time-bar {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 50%;
    height: 100%;
    z-index: 0;
    background: -webkit-linear-gradient(red, yellow, green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow, green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow, green); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow, green); /* Standard syntax */
}

#tower {
    background-color: #3d3d5c;
    width: 46%;
    height: 65%;
    position: absolute;
    left: 27%;
    bottom: 25%;
    cursor: url(../images/crosshair.gif) 32 32, crosshair;
}

#tower table {
    table-layout: fixed;
    height: 100%;
    width: 100%;
    border-collapse: separate;
    border-spacing: .7em;
}

#tower table th {
    width: 0;
}

#tower table td {
    position: relative;
    background-color: #3399ff;
    box-shadow: inset 1px 1px 2px 1px black, 1px 1px 4px 1px gray;
    border-radius: 6px;
    overflow: hidden;
}

@-webkit-keyframes fall-back {
    from {-webkit-transform: rotateX(0deg);}
    to {-webkit-transform: rotateX(-90deg);}
}

.fall{
    -webkit-animation: fall-back .3s;
    -webkit-transform-origin: bottom;
}

.npc-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    left: 0;
    top: 100%;
}

/*.ninja, .woman, .man, .super-ninja {
    #position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    left: 0;
    #top: 100%;
}*/

.super-ninja {
    background-image: url('../images/superNinja.png');
}

.ninja {
    background-image: url('../images/Ninja.png');
}

.woman {
    background-image: url('../images/woman.png');
}

.man {
    background-image: url('../images/man.png');
}

#sidewalk {
    background-color: #7a7a52;
    position: absolute;
    bottom: 18%;
    left: 0;
    height: 7%;
    width: 100%;
    box-shadow: 0px 6px 8px black;
    z-index: 2;
}

#road {
    background-color: #1f1f14;
    width: 100%;
    height: 18%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.road-stripe {
    background-color: yellow;
    height: 10%;
    width: 15%;
    position: relative;
    top: 45%;
    margin-left: 4.166%;
    
}

#score-board {
    position: absolute;
    right: 6%;
    top: 2%;
    font-size: 3em;
    font-weight: 800;
    font-family: sans-serif;
    text-align: center;
    background-color: #b2d1ff;
    color: transparent;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.5), 0px 0px 0px rgba(12, 20, 63, 0.25);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

#underline {
    text-decoration: underline;
}

.cloud1 {
    position: absolute;
    width: 18%;
    height: 20%;
    top: 20px;
    left: 20px;
}

.cloud-part {
    background-color: white;
    border-radius: 50%;
    height: 30%;
    position: absolute;
    width: 25%;
    box-shadow: -2px 0px 3px gray;
}

#c1p1 {
    left: 24%;
    top: 12%;
    z-index: 1;
}

#c1p2 {
    left: 33%;
    top: 2%;
}

#c1p3 {
    left: 5%;
    top: 14%;
    z-index: 2;
}

#c1p4 {
    left: 7%;
    top: -6%;
    z-index: 1;
}

#c1p5 {
    left: 22%;
    top: -12%;
}

#c2p1 {
    height: 40%;
    width: 100%;
    right: 10%;
    top: 50%;
    z-index: -2;
}

#c2p2 {
    width: 88%;
    height: 50%;
    top: 52%;
    left: 7%;
    z-index: -1;
}

#c2p3 {
    width: 70%;
    height: 40%;
    top: 33%;
    left: 41%;
    z-index: -2;
}

#c2p4 {
    width: 88%;
    height: 40%;
    top: 30%;
    left: -32%;
    z-index: -2;
}

#c2p5 {
    width: 70%;
    height: 40%;
    top: 11%;
    left: 46%;
    z-index: -3;
}

#c2p6 {
    width: 98%;
    height: 40%;
    top: 7%;
    left: -26%;
    z-index: -3; 
}

/*
    ==========================
    ==       Main Menu      ==
    ==========================
*/

#high-scores, #game-mode, #next-level {
    display: none;
}

#main-menu {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    position: absolute;
    width: 30%;
    font-size: 2em;
    top: 20%;
    left: 35%;
    text-align: center;
    z-index: 10;
}

.btn {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: -3px 2px 6px 0px white, -3px 3px 0px 2px black;
    width: 75%;
    border-radius: 20px;
    text-align: center;
    margin: 6% 0;
    padding: 2% 4%;
    cursor: pointer;
}

.menu-text {
    font-weight: 800;
    color: transparent;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, .6), 0px 0px 0px rgba(0, 0, 0, 0.9);
    #-webkit-background-clip: text;
       #-moz-background-clip: text;
            #background-clip: text;
}

#grass {
    position: absolute;
    background-color: lightgreen;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
}

/*
    ==========================
    ==       Side Menu      ==
    ==========================
*/

#side-menu {
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    text-align: center;
    font-size: 3.5em;
    position: absolute;
    width: 30%;
    height: 100%;
    right: -30%;
    z-index: 5;
}

#side-menu div {
    width: 80%;
}

#score-text, #bonus-text, #total-text {
    width: 40% !important;
    font-size: .75em;
}

#sm-score, #sm-bonus {
    text-align: right;
    width: 30% !important;
    font-size: .75em;
}

#sm-totalScore {
    width: 30% !important;
    font-weight: 800;
    margin-top: 5%;
    text-shadow: 2px 1px 4px yellow;
}

#sm-title {
    border-bottom: 3px solid white;
    margin: 5% 0;
}

#sm-bonus {
    border-bottom: 2px solid white;
}

.sm-btn {
    font-size: .5em;
    margin: 8% 0;
}

#play-again {
    margin-top: 18%;
}